<!-- START header -->
<%- include("partials/header") %>
<!-- END header -->

<!-- START slider -->
<%- include("partials/slider") %>
<!-- END slider -->

<!-- START logos -->
<%- include("partials/logos") %>
<!-- END logos -->

<!-- START about -->
<%- include("partials/about") %>
<!-- END about -->

<!-- Service Start -->
<%- include("partials/services") %>
<!-- Service End -->

<!-- START Features -->
<%# include("partials/features") %>
<!-- END features -->

<!-- START portfoflio -->
<%# include("partials/portfolio") %>
<!-- END portfoflio -->

<!-- START team -->
<%# include("partials/team") %>
<!-- END team -->

<!-- START pricing -->
<%- include("partials/pricing") %>
<!-- END pricing -->

<!-- START faqs -->
<%# include("partials/faqs") %>
<!-- END faqs -->

<!-- START contact -->
<%- include("partials/contact") %>
<!-- END contact -->

<!-- START footer -->
<%- include("partials/footer") %>
<!-- END footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>

<!-- START footer -->
<%- include("partials/scripts") %>
<!-- END footer -->
